<mat-sidenav-container class="sidenav-container" fullscreen>
  <mat-sidenav #drawer class="sidenav">
    <mat-toolbar> <span *ngIf=currentUser>Hello, {{this.currentUser.firstName}}</span></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/main/map" (click)="drawer.toggle()">
        <mat-icon mat-list-icon>map</mat-icon>
        <span matLine>Map</span>
      </a>

      <a mat-list-item routerLink="/main/account" (click)="drawer.toggle()">
        <mat-icon mat-list-icon>person</mat-icon>
        <span matLine>My Profile</span>
      </a>
      <a *ngIf="currentUser" mat-list-item href="#" (click)="logout()">
        <mat-icon mat-list-icon>exit_to_app</mat-icon>
        <span matLine>Log Out</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Trip Line</span>
      <span class="fill-space"></span>


    </mat-toolbar>
    <div style="width:100%; height: 91%;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>